{% extends 'base.html' %}
  {% block content %}
    <h1 style="margin: 30px;" class="title">"The missing aren't missing, they're only departed."</h1>
    <h4 style="margin: 30px;">-"The Mysterious Benedict Society," one of Module64's most favorite books of all time</h4>
    <h3 style="margin: 30px;">It seems like you've encountered a 404. Darn!<br> This means the page you were trying to find doesn't exist, was replaced, or completely wiped out. 😬<br>If you think this is an issue with the website, please join our <a href="https://discord.gg/6ZQtXy5KA5"> Discord server</a> and report the issue.</h3>
    <button style="margin-left: 30px;" type="button" class="button button2"><a href="https://miniforest.coefficient.repl.co/" style="color: white;">Go to homepage</a></button>
  {% endblock %}