{% extends 'base.html' %}
  {% block content %}
    <h1 style="margin: 30px;" class="title">"Well, crap. I messed something up."</h1>
    <h4 style="margin: 30px;">-Module64 after messing around with the website code</h4>
    <h3 style="margin: 30px;">It seems like you've encountered a 500. Yikes!<br>This means that our website's code failed somewhere. 😬<br>If you'd like to report this problem, please join our <a href="https://discord.gg/6ZQtXy5KA5"> Discord server</a> and report the problem. Thanks!</h3>
    <button style="margin-left: 30px;" type="button" class="button button2"><a href="https://miniforest.coefficient.repl.co/" style="color: white;">Go to homepage</a></button>
  {% endblock %}