{% extends 'base.html' %}
  {% block content %}
    <h1 style="margin: 30px;" class="title">⚠️ You don't have an account!</h1>
    <h3 style="margin: 30px;">Gah! It looks like you don't have an account yet. 😬<br>Please try to <a href="https://miniforest.coefficient.repl.co/signup">sign up</a> instead. If you think this is an issue with the website, please join our <a href="https://discord.gg/6ZQtXy5KA5"> Discord server</a> and report the issue.</h3>
    <button style="margin-left: 30px;" type="button" class="button button2"><a href="https://miniforest.coefficient.repl.co/" style="color: white;">Go to homepage</a></button>
  {% endblock %}